RewriteEngine On
RewriteRule bieren/([^/\.]+)/([^/\.]+)/?$ index.php?controller=bieren&method=$1&id=$2 #alles tot /  of de punt , + selecteert alles karaketer in de voorgaan de regels en word gegroepeerd in matches ( let op doet hij tot / /)
RewriteRule bieren/([^/\.]+)/?$ index.php?controller=bieren&method=$1
